:root {
  --background: #000000;
  --button-base: #151515;
  --button-hover: rgba(86, 81, 75, 0.70);
  --text-high-contrast: #eeeeee;
  --text: #909090;
}

* {
  background-color: var(--background);
  font-family: 'Montserrat', sans-serif;
}

.avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  height: auto;
  max-width: 170px;
  border-radius: 50%;
}

.linktree-name {
  text-align: center;
  padding: 30px;
  font-size: 2.75rem;
  color: var(--text-high-contrast);
  font-weight: 800;
}

.links {
  text-align: center;
  margin-top: 20px;
  border-radius: 2px;
  background-color: var(--button-base);

  width: 70%;
  max-width: 500px;
  display: block;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;

  border-radius: 5px;
  font-size: 1rem;
}

.links:hover {
  background-color: var(--button-hover);
  color: var(--text-high-contrast);
}

a {
  text-decoration: none;
  color: var(--text);
  transition: 0.3s;
  font-weight: 500;
}

.credits {
  padding-top: 2%;
  font-size: 0.75rem;
  color: var(--text);
  text-align: center;
}

.credits a:hover {
  color: var(--text-high-contrast);
  text-decoration: underline;
  transition: 0.2s;
}

h2, p, code {
  color: var(--text-high-contrast);
}

code {
  font-family: monospace;
}